__MACOSX/
__pycache__
.git-bk
.vscode
uwb/Legacy-SW/ModuleConnector/ModuleConnector-unix-1/python35-x86_64-linux-gnu/pymoduleconnector/examples/data
uwb/Legacy-SW/ModuleConnector/ModuleConnector-unix-1/python35-x86_64-linux-gnu/pymoduleconnector/examples/logs
Audio_Collector
IRA/data
IRA/logs
mmwave
SeekTermal
seekcamera-python/runseek/data
seekcamera-python/runseek/logs
*output*
*.pkl
*.log
*.mp4
logs
remote_disk
DeptCam/logs
DeptCam/output_*
AWR1843-Read-Data-Python-MMWAVE-SDK-3--master/data
AWR1843-Read-Data-Python-MMWAVE-SDK-3--master/logs
polar/H10/data
polar/H10/logs
process_dict.json
status.json
acoustic/data/
data/